* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

body {
    color: white;
}

#logo {
    height: 100px;
}

#przywitanie {
    font-size: 20px;
}

#main {
    width: 100%;
    background-color: black;
}

#left {
    font-size: 50px;
    width: 50%;
    float: left;
    padding-top: 75px;
}

#right {
    width: 50%;
    float: left;
}